* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url(/images/spelhall.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: grid;
  place-items: center;
  height: 30vh;
  margin-top: 40px;
}

@font-face {
  font-family: 'MKtitle';
  src: url(font/MKtitle.otf);
}

.container {
  display: flex;
  width: 80%;

}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;
 
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
  padding: 0;
  margin: 0;

}  

.left-section p, .right-section p {
  display: flex;
  justify-content: center;
}


.title {
  display: flex;
  justify-content: center;
  background-color: rgb(244, 55, 22);
  font-family: 'MKtitle';
  font-size: 1rem;
  border-radius: 50px;
}

.title:hover {
  background-color: #76c1d4;
  transition: background-color 0.3s ease-out;
  transition: transform 0.3s ease;
  opacity: 1;
  transform: translateY(-5px);
}

.nameButton {
  margin-top: 200px;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  font-family: 'MKtitle';
}

.continue-btn {
  margin-top: 40px;
  margin-left: 240px;
  width: 250px;
  height: 40px;
  font-size: 1.5rem;
  font-family: 'MKtitle';
  border-radius: 40px;
  background-color: rgb(244, 55, 22);
  position: absolute;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #76c1d4;
  transition: background-color 0.3s ease-out;
  transition: transform 0.3s ease;
  opacity: 1;
  transform: translateY(-5px);
}

.btn-name-user, .btn-name-robot {
  width: 150px;
  height: 20px;
  font-size: 0.7rem;
  font-family: 'MKtitle';
  border-radius: 40px;
  background-color: rgb(108, 194, 244);
  padding-left: 40px;
  margin-top: 20px;
  margin-left: 100px;
  cursor: pointer;
}

.btn-name-user:hover, .btn-name-robot:hover {
  background-color: #76c1d4;
  transition: background-color 0.3s ease-out;
  transition: transform 0.3s ease;
  opacity: 1;
  transform: translateY(-5px);
}

.character-container {
  position: relative;

}

.img {
  display: flex;
  width: 90px;
  border-radius: 50%;
  margin-top: 20px;
}

.img:hover {
  cursor: pointer;
  /* border: solid #eef8f0; */
  opacity: 80%;
 
 
}

.title {
  font-size: 30px;
  font-family: MKtitle;
  background-color: rgb(208, 10, 10);
  color: white;
}

.title:hover {
  background-color: #76c1d4;
  transition: background-color 0.3s ease-out;
  transition: transform 0.3s ease;
  opacity: 1;
  transform: translateY(-5px);
}

.btn1, .btn2, .start-button {
  font-size:30px;
    color: rgb(250, 245, 245);
    background-color: rgb(208, 10, 10);
    text-transform: uppercase;
    font-family: MKtitle;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px ;
}

.btn1:hover, .btn2:hover, .start-button:hover {
  background-color: #76c1d4;
  transition: background-color 0.3s ease-out;
  transition: transform 0.3s ease;
  opacity: 1;
  transform: translateY(-5px);
}

#howToPlayPopUp {
  left: 20%;
  top: 8%;
  position: absolute;
  width: 60%;
  background-color: #45476D;
  border: 5px solid #222334;
  color: white;
  border-radius: 20px;
  display: none;
  margin-top: -40px;
}

#howToPlayPopUp button{
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  background-color: #222334;
  text-shadow: none;
  border-color: #111119;
  border-style: solid;
  color: white;
  cursor: pointer;
}

#popUp {
  left: 20%;
  top: 8%;
  position: absolute;
  width: 60%;
  background-color: #45476D;
  border: 5px solid #222334;
  color: white;
  border-radius: 20px;
  display: none;
  margin-top: -40px;
}

#popUp h1 {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-family: 'MKtitle';
  border-radius: 50px;
  margin-top: 20px;
  font-size: 5rem;
}

#popUp li {
  margin-left: 5rem;
  font-size: 1.5rem;
}

#popUp button{
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  background-color: #222334;
  text-shadow: none;
  border-color: #111119;
  border-style: solid;
  color: white;
  cursor: pointer;
}

.rulesTextGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rulesText h2 {
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.rulesText h3 {
  font-family: fantasy;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rulesText p {
  background-color: rgb(59, 126, 199);
  font-family: fantasy;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
}

#howToPlayPopUp h1 {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-family: 'MKtitle';
  border-radius: 50px;
  margin-top: 20px;
  font-size: 2rem;
}

.howToPlayText {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.howToPlayHeaderTitle {
  margin-left: 120px;
}

.howToPlayHeader {
  grid-template-rows: 1fr;
  font-size: 20px;
  font-family: fantasy;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: 250px;
}

.howToPlayText h3 {
  font-family: fantasy;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.howToPlayText p {
  background-color: rgb(59, 126, 199);
  font-family: fantasy;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
}

#firstPage {
  display: block;
}

#secondPage {
  display: none;
}

.selectedHuman{
  border: 3px solid Blue;
}

.selectedRobot{
  border: 3px solid red;
}

@keyframes eldAnimationHuman {
  0% { box-shadow: 0 0 15px 5px lightblue, 0 0 25px 10px blue, 0 0 35px 20px darkblue; }
  50% { box-shadow: 0 0 20px 10px lightblue, 0 0 30px 15px blue, 0 0 40px 25px darkblue; }
  100% { box-shadow: 0 0 15px 5px lightblue, 0 0 25px 10px blue, 0 0 35px 20px darkblue; }
}


.eldEffektHuman {
    animation: eldAnimationHuman 0.5s infinite;
  }
  


  @keyframes eldAnimationRobot {
    0% { box-shadow: 0 0 15px 5px pink, 0 0 25px 10px red, 0 0 35px 20px darkred; }
    50% { box-shadow: 0 0 20px 10px pink, 0 0 30px 15px red, 0 0 40px 25px darkred; }
    100% { box-shadow: 0 0 15px 5px pink, 0 0 25px 10px red, 0 0 35px 20px darkred; }
  }
  
  .eldEffektRobot {
    animation: eldAnimationRobot 0.5s infinite;
  }




