* {
    margin: 0;
    padding: 0 ;

}


html{
    background-image: url(/images/controller_background.png);
    margin-left: 25%;
    margin-right: 25%;
    /* margin: 6rem; */
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    
    
    "main main main"
    "footer footer footer"
    ;
 grid-template-columns: 1fr 2fr 1fr;
 grid-template-rows: 65%;
}



/* header{
    grid-area: header;
    background-color: bisque;

} */



main{
    grid-area: main;
    background-color: blue;
    background-image: url(/images/bg_stars.gif);
}

/* aside{
    grid-area: aside;
    grid-area: nav;
    background-color: blueviolet;
    background-image: url(/images/bg_stars.gif);
} */

/* nav{
    grid-area: nav;
    background-color: blueviolet;
    background-image: url(/images/bg_stars.gif);
}
 */


footer{
    grid-area: footer;
    background-color: cadetblue;
    background-image: url(/images/bg_stars.gif);
}

