.vertical{
    border-left: 6px solid black;
    height: 754px;
    position:absolute;
    left: 22%;
    
    border-right: 6px solid black;
    height: 754px;
    position:absolute;
    right: 22%;

    margin: 0 auto;
}

.diagional_top{
    border-top: 6px solid black;
}

.controller{
    border-bottom: 6px solid black;
    height: 550px;
}

.diagional_bottom{
    border-bottom: 6px solid black;
    height: 187px;
    /*background-color: #7A7BA1;*/
}

.lucas_img_1{
    text-align: center;
    width: 30%;
    height: 20%;
}

.lucas_img_1 img{
}