.player {
    margin-bottom: 20px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    position: relative;
    height: 30px;
    border-radius: 5px;
  }
  
  .progress {
    height: 100%;
    background-color: #76c7c0;
    width: 100%;
    border-radius: 5px;
  }
  
  .button {
    margin-left: 10px;
  }
